@CHARSET "UTF-8";

body {
    margin: 0;
}

.grid_table {
	border-collapse: collapse;
	border-style: solid;
	border-color: gray;
	border-width: 3px;
	background-color: #DDDDFF;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.grid_row {
	border-style: solid;
	border-color: silver;
	border-width: 1px;
}

.grid_row:hover {
	background-color: #EEEEFF;
}

.grid_cell {
	padding: 5px;
	border-style: solid;
	border-color: silver;
	border-width: 1px;
}

.grid_cell:hover {
	background-color: white;
}

.input_table {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-collapse: collapse;
	background-color: #DDDDFF;
	border-style: solid;
	border-color: gray;
	border-width: 3px;
}

.input_table tr {
	padding: 5px;
	border-style: solid;
	border-color: silver;
	border-width: 1px;
}

.input_table td {
	padding: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	width: 50%;
}

.input_table th {
	padding: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.input_table input[type="text"], .input_table select {
	width: 100%;
}

.custom_table {
	border-collapse: collapse;
	border-style: solid;
	border-color: gray;
	border-width: 3px;
	background-color: #DDDDFF;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.custom_table tr {
	border-style: solid;
	border-color: silver;
	border-width: 1px;
}

.custom_table col:hover {
    background-color: #EEEEFF;
}

.custom_table tr:hover {
	background-color: #EEEEFF;
}

.custom_table td, .custom_table th {
	padding: 5px;
	border-style: solid;
	border-color: silver;
	border-width: 1px;
}

.custom_table td:hover {
	background-color: #FFFFFF;
}

.game {
	border-collapse: collapse;
	border-style: solid;
	border-color: gray;
	border-width: 3px;
	background-color: #DDDDFF;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.game td {
	border-style: solid;
	border-color: silver;
	border-width: 1px;
}

.game td:hover {
	background-color: #EEEEFF;
}

.game div {
	padding: 5px;
	display: block;
	width: 25px;
	height: 25px;
}

.simple, .unclose {
	text-align: center;
	font-weight: 600;
	font-size: 18pt;
}

.simple {
	color: #002277;
}

.unclose {
	color: #00AA33;
}

.vertical_text {
    white-space: nowrap;
    position: relative;
    left: 0;
    bottom: 0;
    float: left;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#message_layer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 30%;
    text-align: center;
    background-color: white;
    opacity: 0.9;
    /*border: "solid", borderWidth: "1px", borderColor: "#ccccff"}*/
}

#message_layer label {
    font-weight: bold;
}

#message_layer p {
    border: solid 1px #CCCCFF;
    font-size: small;
    margin: 0;
}

.section_header {
    font-size: 18pt;
    color: black;
    background-color: #CCCCFF;
    text-align: center;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}

.align_td_to_top td {
    vertical-align: top;
}

.tiny_label {
    width: 50px;
}

.select_tool {
    background-color: #CCCCFF;
}

.select_tool .note {
    background-color: #AAAAFF;
    float: right;
    margin-right: 5px;
}

.select_tool .top {
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #444444;
}

/* полоска в конце списка */
.select_tool .box:last-child {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #444444;
}

.select_tool .item {
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.select_tool .current {
    background-color: #AAAAFF;
}

.tip_table {
    background-color: #ffffee;
    color: black;
    font-size: small;
    border: solid 1px #555555;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

.selected_cell {
    background-color: #bbf;
}

.auto_margin {
    margin-left: auto;
    margin-right: auto;
}

.auto_margin_40 {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

/* for navigation */
.navigation_div {
    height: 30px;
    background-color: #eef;
    margin-bottom: 10px;
}
.navigation_menu, .navigation_menu ul {
    list-style: outside none none;
    padding: 0;
}

.navigation_menu {
    display: table;
    margin: 0 auto 10px auto;
}

.navigation_menu .category {
    float: left;
    background-color: #aaf;
}

.navigation_menu .category:hover {
    background-color: #88f;
}

.navigation_menu .submenu {
    position: absolute;
    margin: 0 auto;
    z-index: 3;
}

.navigation_menu .item {
    display: none;
    padding: 0 20px;
    line-height: 30px;
    float: left;
    background-color: #88f;
}

.navigation_menu .active {
    background-color: #88f;
}

.navigation_menu .active .item {
    display: block;
}

.navigation_menu .category_label {
    padding: 0 25px;
    line-height: 30px;
}

.navigation_menu .item_link {
    font-weight: bold;
    color: #445;
}

.navigation_menu .item:hover {
    background-color: #66f;
    padding: 2px 20px;
    position: relative;
    top: -2px;
    color: black;
}

/* csv button */
#csv_div {
    display: table;
    position: absolute;
    right: 10px;
}

/* log table */
.log_table {
    font-size: small;
    border-collapse: collapse;
    background-color: #eed;
    margin: 0 auto;
}

.log_table div {
    width: 720px;
}

.log_table tr:hover {
    background-color: white;
}

.log_table td, .log_table th {
    border: dotted 1px gray;
    padding: 5px;
}

/* good scroll */
.clear_table, .clear_table * {
    border-collapse: collapse;
    padding: 0;
}

.clear_table tr, .clear_table td {
    margin: 0;
    padding: 0;
}

.clear_table .corner {
    border-left: solid 3px gray;
    border-top: solid 3px gray;
    border-right: solid 1px silver;
    border-bottom: solid 1px silver;
}

.clear_table .left_header {
    overflow: hidden;
    border-left: solid 2px gray;
    border-bottom: solid 2px gray;
}

.clear_table .top_header {
    overflow: hidden;
    border-right: solid 2px gray;
    border-top: solid 2px gray;
}

.clear_table .content {
    overflow: hidden;
    border-right: solid 2px gray;
    border-bottom: solid 2px gray;
}

.clear_table .silver_border {
    border: solid 1px #ccc;
}

.clear_table .gray_border {
    border: solid 1px #888;
}

.clear_table .dont_cut {
    overflow: visible;
}

/* for gridDateTable */
.progress_table .cell {
    padding: 10px;
    text-align: center;
}

.progress_table .row_header {
    padding: 10px;
    font-weight: bold;
}