@CHARSET "UTF-8";

.navigation_div {
    width: 100%;
    height: 50px;
    background-color: #AAAAFF;
    margin-bottom: 5px;
}

.navigation_menu, .navigation_menu ul {
    list-style: none;
    background-color: #EEEEFF;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.navigation_menu p {
    margin: 0;
    padding-top: 15px;
    vertical-align: bottom;
    padding-left: 30px;
    padding-right: 30px;
    height: 35px;
}

.navigation_menu a:hover {
    color: black;
}

.navigation_menu a {
    font-weight: bold;
    color: #444455;
}

.navigation_menu > li {
    float: left;
    /*position: relative;*/
    margin: 0;
    background-color: #AAAAFF;
}

.navigation_menu li :hover, .navigation_menu .active {
    background-color: #8888FF;
}

.navigation_menu li ul {
    position: absolute;
    background-color: #8888FF;
}

.navigation_menu li li {
    display: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.grid_table {
	border-collapse: collapse;
	border-style: solid;
	border-color: gray;
	border-width: 3px;
	background-color: #DDDDFF;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.grid_row {
	border-style: solid;
	border-color: silver;
	border-width: 1px;
}

.grid_row:hover {
	background-color: #EEEEFF;
}

.grid_cell {
	padding: 5px;
	border-style: solid;
	border-color: silver;
	border-width: 1px;
}

.grid_cell:hover {
	background-color: white;
}

.input_table {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-collapse: collapse;
	background-color: #DDDDFF;
	border-style: solid;
	border-color: gray;
	border-width: 3px;
}

.input_table tr {
	padding: 5px;
	border-style: solid;
	border-color: silver;
	border-width: 1px;
}

.input_table td {
	padding: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	width: 50%;
}

.input_table th {
	padding: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.input_table input[type="text"], .input_table select {
	width: 100%;
}

.custom_table {
	border-collapse: collapse;
	border-style: solid;
	border-color: gray;
	border-width: 3px;
	background-color: #DDDDFF;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.custom_table tr {
	border-style: solid;
	border-color: silver;
	border-width: 1px;
}

.custom_table col:hover {
    background-color: #EEEEFF;
}

.custom_table tr:hover {
	background-color: #EEEEFF;
}

.custom_table td {
	padding: 5px;
	border-style: solid;
	border-color: silver;
	border-width: 1px;
}

.custom_table td:hover {
	background-color: #FFFFFF;
}

.game {
	border-collapse: collapse;
	border-style: solid;
	border-color: gray;
	border-width: 3px;
	background-color: #DDDDFF;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.game td {
	border-style: solid;
	border-color: silver;
	border-width: 1px;
}

.game td:hover {
	background-color: #EEEEFF;
}

.game div {
	padding: 5px;
	display: block;
	width: 25px;
	height: 25px;
}

.simple, .unclose {
	text-align: center;
	font-weight: 600;
	font-size: 18pt;
}

.simple {
	color: #002277;
}

.unclose {
	color: #00AA33;
}

.vertical_text {
    white-space: nowrap;
    position: relative;
    left: 0;
    bottom: 0;
    float: left;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#message_layer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 30%;
    text-align: center;
    background-color: white;
    opacity: 0.9;
    /*border: "solid", borderWidth: "1px", borderColor: "#ccccff"}*/
}

#message_layer label {
    font-weight: bold;
}

#message_layer p {
    border: solid 1px #CCCCFF;
    font-size: small;
    margin: 0;
}

.section_header {
    font-size: 18pt;
    color: black;
    background-color: #CCCCFF;
    text-align: center;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}

.calendar-toolbar input[type="radio"] {
    display: none;
}

.calendar-toolbar label {
    display: inline-block;
    background-color: #CCCCFF;
    padding: 4px 4px;
    width: 20px;
}

.calendar-toolbar label:hover {
    display: inline-block;
    background-color: #BBBBFF;
    padding: 4px 4px;
    width: 20px;
}

.calendar-toolbar input[type="radio"]:checked + label {
    background-color: #AAAAFF;
    color: black;
    font-weight: bold;
}

.align_td_to_top td {
    vertical-align: top;
}

.tiny_label {
    width: 50px;
}

.select_tool {
    background-color: #CCCCFF;
}

.select_tool .note {
    background-color: #AAAAFF;
    float: right;
    margin-right: 5px;
}

.select_tool .top {
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #444444;
}

/* полоска в конце списка */
.select_tool .box:last-child {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #444444;
}

.select_tool .item {
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.select_tool .current {
    background-color: #AAAAFF;
}